<h2>Post Job</h2>
<br/>

<form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="jobname">Job Name</label>
    <input type="text" formControlName="jobname" class="form-control" />
  </div>
  <div class="form-group">
    <label for="jobdescription">Job Description</label>
    <input type="text" formControlName="jobdescription" class="form-control" />
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" formControlName="price" class="form-control" />
  </div>
  <br/>
  <div class="form-group">
    <button class="btn btn-dark">
      Post Job
    </button>
  </div>
</form>