<h2>Dashboard</h2>
<br/>
<h4>User: {{currentUser.name}}</h4>
<br/>

<div class="dashbuttons">
    <button class="btn btn-outline-dark" (click)="onPostJob()">Post Job</button>
    <button class="btn btn-outline-dark" (click)="onShowUserJobs()">Show my jobs</button>
    <button class="btn btn-outline-dark" (click)="onShowAllJobs()">Show all jobs</button>
    <button class="btn btn-outline-dark" (click)="viewMessages()">View Messages</button>
</div>
<br/><br/>

<div *ngIf="displayPostJob">
    <app-postjob></app-postjob>
</div>
<div *ngIf="displayShowUserJobs">
    <app-userjobs></app-userjobs>
</div>
<div *ngIf="displayShowNonUserJobs">
    <app-alljobs></app-alljobs>
</div>