<h2>Welcome</h2>
<br/>
<p>Welcome to DevTree.</p>
<p>If you are new, please use the top bar to navigate to the Register
  or Log In page. If you are already logged in, simply navigate straight
  to the dashboard where you can view your job listings.
</p>
<br/>
<strong>Special thanks:</strong>
<br/>
<p>Thank you to Jason Watmore, whos tutorials provided a great help with the authentication
  component of this website. Some code from his pages at:
  <p><a href="https://jasonwatmore.com/post/2019/06/10/angular-8-user-registration-and-login-example-tutorial">https://jasonwatmore.com/post/2019/06/10/angular-8-user-registration-and-login-example-tutorial</a> (for angular)</p>
  <p>and:</p> 
  <p><a href="https://jasonwatmore.com/post/2019/10/14/aspnet-core-3-simple-api-for-authentication-registration-and-user-management">https://jasonwatmore.com/post/2019/10/14/aspnet-core-3-simple-api-for-authentication-registration-and-user-management</a> (for asp.net)</p>
  
  <p>was used to help make this 
  website secure, and provided code for the required authentication and authorization practices.
</p>