<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" routerLink="/">DevTree</a>
  <ul class="navbar-nav">
    <li class="nav-item" >
      <a class="nav-link" routerLink="/register" *ngIf="currentUser==null">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login" *ngIf="currentUser==null">Log In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" *ngIf="currentUser">Dashboard</a>
    </li>
    <li class="nav-item" *ngIf="currentUser">
      <a class="nav-link" (click)="logout()">Log Out</a>
    </li>
  </ul>
</nav>

<div class="jumbotron">
  <router-outlet></router-outlet>
</div>