<button class="btn btn-outline-secondary" (click)="goBack()">Back</button>
<br/><br/>
<h2>Your Messages</h2>
<br/>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">From</th>
      <th scope="col">Message</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let message of messages">
      <td>{{message.usernameSender}}</td>
      <td>{{message.content}}</td>
      <td><button class="btn btn-dark" (click)="sendMessage(message.userIdSender)">Reply</button></td>
    </tr>
  </tbody>
</table>